<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>

    <div class="navbar-nav ml-auto">
      <% if (username) { %>
      <span class="navbar-text mr-3  text-dark">
        Logged in as: <strong><%= username %></strong> User!
      </span>
      <form action="/logout" class="inline" method="POST">
        <button type="submit" class="btn btn-outline-dark">Logout</button>
      </form>
      <% } else { %>
      <form class="form-inline" action="/login" method="POST">
        <div class="form-group mx-sm-3 mb-2">
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Username"
          />
        </div>
        <button type="submit" class="btn btn-outline-dark">Login</button>
      </form>
      <% } %>
    </div>
  </nav>
</header>
